.site-layout {
  .header-background {
    background: #ffffff;
  }

  .message-list-container {
    overflow: hidden scroll;
    .site-layout-background {
      padding: 16px;
      min-height: 360px;
      .message-container {
        display: flex;
        margin-bottom: 30px;
        &.user {
          flex-direction: row-reverse;
        }
        .avatar {
          width: 30px;
          display: flex;
          align-items: center;
          margin-right: 12px;
          img {
            border-radius: 25px;
          }
        }
        .message {
          background: #4179f1;
          padding: 8px;
          border-radius: 16px;
          color: #ffffff;
          &.user {
            background: #ffffff;
            padding: 8px;
            border-radius: 16px;
            color: #000000;
          }
        }
      }
    }
    .divForAutoScroll {
      float: left;
      clear: both;
    }
  }

  footer {
    padding: 0;
    margin: 3px;
    input {
      padding: 12px 6px;
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
