@import "./_global";

.sideBar {
  @include override-background(#ffffff);
  color: #000000;
  position: relative;
  .sideBar_header {
    background: #ffffff;
    @include display-flex(center, left);
    font-size: 20px;
    padding: 0 !important;
    .header-logo {
      cursor: default;
    }
    .logo-container {
      margin: 10px 15px 0 30px;
    }
    .logo-icon {
      color: #1890ff;
      font-size: 30px;
    }
    .sidebar_button {
      position: absolute !important;
      right: 0%;
      margin: 0 12px;
      border: none !important;
    }
    .sideBar_button_icon {
      color: #1890ff;
    }
  }
  .search-bar-container {
    height: 60px;
    display: flex;
    .ant-input {
      margin-left: 8px;
    }
    .ant-input-prefix {
      margin: 0 15px 0 29px;
    }
  }
  .ant-menu-root {
    max-height: 80%;
    overflow-y: overlay;
    overflow-x: hidden;
    .sidebar-chatroom-container {
      overflow: visible !important;
      height: 60px !important;
      padding-left: 10px !important;
      &.ant-menu-item-selected {
        background: #ededed !important;
        section {
          background: inherit !important;
          aside {
            background: inherit !important;
          }
          header {
            background: inherit !important;
          }
          main {
            background: inherit !important;
          }
        }
        &::after {
          border: none !important;
        }
      }
      &.ant-menu-item {
        &::after {
          border: none !important;
        }
      }
      .sideBar-chatroom {
        background: #ffffff;
        @include display-flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        .sideBar-chatroom_avatar-img-container {
          height: 100%;
          .ant-layout-sider-children {
            @include display-flex;
          }
          .avatar-img {
            border-radius: 25px;
          }
        }
        .sideBar-chatroom_avatar-info-container {
          max-width: 250px;
          display: flex;
          flex-direction: column;
          margin-left: 12px;
          .sideBar-chatroom_avatar-info_participant {
            background: #ffffff;
            @include display-flex(center, space-between);
            height: 30px;
            line-height: 1;
            padding: 0;
            .sideBar-chatroom_name {
              max-width: 200px;
              overflow: hidden;
            }
            .latest-message-time {
              @include override-color(#aaaaaa);
              padding: 0;
              width: 40px;
              font-weight: 500;
            }
          }
          .sideBar-chatroom_latest-message-container {
            background: #ffffff;
            @include display-flex(start, start);
            height: 30px;
            span {
              line-height: 1;
              color: #aaaaaa;
            }
          }
        }
        .have-unread-message {
          font-weight: 800;
          span {
            @include override-color(#000000);
          }
        }
        .unread-message-count-container {
          @include display-flex;
          @include override-background(#5797ff);
          position: absolute;
          right: 23px;
          bottom: 12px;
          height: 25px;
          width: 25px;
          border-radius: (25px/2);
          span {
            color: #ffffff;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
          }
        }
      }
    }
  }
  .collapsed_header {
    justify-content: center;
    margin-top: 5px;
  }
  .collapsed-logo-icon-container {
    margin: 0;
  }
  .collapsed-search-icon-container {
    @include display-flex;
    color: #949494;
    height: 55px;
    &:hover {
      cursor: pointer;
    }
  }
  .collapsed-search-icon {
    font-size: 30px;
  }
  .ant-menu-inline-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sidebar-chatroom-container {
      padding: 0 !important;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      .avatar-img {
        border-radius: 25px;
      }
    }
  }
  .ant-layout-sider-trigger {
    background: #ffffff;
    span {
      color: #002140;
    }
  }
}
