.sideBar {
  background: #ffffff !important;
  color: #000000;
  position: relative; }
  .sideBar .sideBar_header {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    padding: 0 !important; }
    .sideBar .sideBar_header .header-logo {
      cursor: default; }
    .sideBar .sideBar_header .logo-container {
      margin: 10px 15px 0 30px; }
    .sideBar .sideBar_header .logo-icon {
      color: #1890ff;
      font-size: 30px; }
    .sideBar .sideBar_header .sidebar_button {
      position: absolute !important;
      right: 0%;
      margin: 0 12px;
      border: none !important; }
    .sideBar .sideBar_header .sideBar_button_icon {
      color: #1890ff; }
  .sideBar .search-bar-container {
    height: 60px;
    display: flex; }
    .sideBar .search-bar-container .ant-input {
      margin-left: 8px; }
    .sideBar .search-bar-container .ant-input-prefix {
      margin: 0 15px 0 29px; }
  .sideBar .ant-menu-root {
    max-height: 80%;
    overflow-y: overlay;
    overflow-x: hidden; }
    .sideBar .ant-menu-root .sidebar-chatroom-container {
      overflow: visible !important;
      height: 60px !important;
      padding-left: 10px !important; }
      .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected {
        background: #ededed !important;
        box-shadow: 0 0 4px #aaaaaa; }
        .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected section {
          background: inherit !important; }
          .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected section aside {
            background: inherit !important; }
          .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected section header {
            background: inherit !important; }
          .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected section main {
            background: inherit !important; }
        .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item-selected::after {
          border: none !important; }
      .sideBar .ant-menu-root .sidebar-chatroom-container.ant-menu-item::after {
        border: none !important; }
      .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom {
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%; }
        .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-img-container {
          height: 100%; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-img-container .ant-layout-sider-children {
            display: flex;
            align-items: center;
            justify-content: center; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-img-container .avatar-img {
            border-radius: 25px; }
        .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container {
          max-width: 250px;
          display: flex;
          flex-direction: column;
          margin-left: 12px; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container .sideBar-chatroom_avatar-info_participant {
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 30px;
            line-height: 1;
            padding: 0; }
            .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container .sideBar-chatroom_avatar-info_participant .sideBar-chatroom_name {
              max-width: 200px;
              overflow: hidden; }
            .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container .sideBar-chatroom_avatar-info_participant .latest-message-time {
              color: #aaaaaa !important;
              padding: 0;
              width: 40px;
              font-weight: 500; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container .sideBar-chatroom_latest-message-container {
            background: #ffffff;
            display: flex;
            align-items: start;
            justify-content: start;
            height: 30px; }
            .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .sideBar-chatroom_avatar-info-container .sideBar-chatroom_latest-message-container span {
              line-height: 1;
              color: #aaaaaa; }
        .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .have-unread-message {
          font-weight: 800; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .have-unread-message span {
            color: #000000 !important; }
        .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .unread-message-count-container {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #5797ff !important;
          position: absolute;
          right: 23px;
          bottom: 12px;
          height: 25px;
          width: 25px;
          border-radius: 12.5px; }
          .sideBar .ant-menu-root .sidebar-chatroom-container .sideBar-chatroom .unread-message-count-container span {
            color: #ffffff;
            font-size: 12px;
            font-weight: 700;
            line-height: 1; }
      .sideBar .ant-menu-root .sidebar-chatroom-container:hover {
        transition: box-shadow 0.2s;
        box-shadow: 0 0 8px #aaaaaa; }
  .sideBar .collapsed_header {
    justify-content: center;
    margin-top: 5px; }
  .sideBar .collapsed-logo-icon-container {
    margin: 0; }
  .sideBar .collapsed-search-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #949494;
    height: 55px; }
    .sideBar .collapsed-search-icon-container:hover {
      cursor: pointer; }
  .sideBar .collapsed-search-icon {
    font-size: 30px; }
  .sideBar .ant-menu-inline-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sideBar .ant-menu-inline-collapsed .sidebar-chatroom-container {
      padding: 0 !important;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; }
      .sideBar .ant-menu-inline-collapsed .sidebar-chatroom-container .avatar-img {
        border-radius: 25px; }
  .sideBar .ant-layout-sider-trigger {
    background: #ffffff; }
    .sideBar .ant-layout-sider-trigger span {
      color: #002140; }

.site-layout .header-background {
  background: #ffffff; }

.site-layout .message-list-container {
  overflow: hidden scroll; }
  .site-layout .message-list-container .site-layout-background {
    padding: 16px;
    min-height: 360px; }
    .site-layout .message-list-container .site-layout-background .message-container {
      display: flex;
      margin-bottom: 30px; }
      .site-layout .message-list-container .site-layout-background .message-container.user {
        flex-direction: row-reverse; }
      .site-layout .message-list-container .site-layout-background .message-container .avatar {
        width: 30px;
        display: flex;
        align-items: center;
        margin-right: 12px; }
        .site-layout .message-list-container .site-layout-background .message-container .avatar img {
          border-radius: 25px; }
      .site-layout .message-list-container .site-layout-background .message-container .message {
        background: #4179f1;
        padding: 8px;
        border-radius: 16px;
        color: #ffffff; }
        .site-layout .message-list-container .site-layout-background .message-container .message.user {
          background: #ffffff;
          padding: 8px;
          border-radius: 16px;
          color: #000000; }
  .site-layout .message-list-container .divForAutoScroll {
    float: left;
    clear: both; }

.site-layout footer {
  padding: 0;
  margin: 3px; }
  .site-layout footer input {
    padding: 12px 6px;
    width: 100%;
    border: none; }
    .site-layout footer input:focus {
      outline: none; }
